body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('woman-holding-old-new-phone.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  height: 100vh;
}

nav {
  background-color: rgba(0, 0, 0, 0.5); /* Add transparency to the navbar background */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  
}
.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f7b733;
}

.content {
  text-align: left;
  margin-left: 70px;
  padding-top: 100px;
}



h1 {
  color: #fff;
  font-size: 100px;
  /* Change text color to white */
  margin-bottom: 20px;
}

.paragrph {
  color: #ddd; /* Change text color to light gray */
  font-size: 1.2rem; /* Increase font size for paragraph */
  line-height: 1.5;
  align-items: left;
  margin-left :0;
  width: 50%;
}

.login-btn{
  background-color: rgb(255, 145, 0);
  position: absolute;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  font-size: larger;
  color:rgba(0, 0, 0);
  transform: translate(220px,40px);
}